 @font-face {
    font-family: capture;
    src: url(../fuentes/Capture\ it.ttf);
 }

 * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-weight: normal;
 }
 header h1 {
    font-family: capture, Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(1rem + 2vw);
    text-align: center;
 }

#parcela {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-auto-rows: 32px;
    justify-content: center;
    gap: 10px;
}
.celda {
    border-radius: 10px;
    background-image: url(../imagenes/terreno.png);
    background-size: contain;
}