 @font-face {
    font-family: capture;
    src: url(../fuentes/Capture\ it.ttf);
 }

 * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-weight: normal;
 }
 body {
   background-color: rgb(133, 79, 43);
 }
 header h1 {
    font-family: capture, Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc(1rem + 2vw);
    text-align: center;
 }
 #datos {
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: .8rem;
 }

#parcela {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-auto-rows: 32px;
    justify-content: center;
    gap: 10px;
}
.celda {
    border-radius: 10px;
    background-image: url(../imagenes/terreno.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#fin {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: fit-content;
   background-image: url(../imagenes/derrota.jpg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgba(0, 0, 0, 0.814);
   padding: 1rem;
   border: 2px solid white;
   display: none;
}
#textoFin {
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 3rem;
   color: white;
   -webkit-text-stroke: 2px black;
   text-transform: uppercase;
}
#cerrar {
   background-color: rgb(26, 124, 236);
   border: none;
   padding: .5rem 1rem;
   color: white;
   font-size: 1.3rem;
   display: block;
   margin: 50px auto;
   cursor: pointer;
}

@keyframes animacionMostrarTopo {
   0% {
      /*background-position: center 100%;*/
      opacity: 0;
      background-image: url(../imagenes/bicho.png);
   }
   50% {
      /*background-position: center top;*/
      opacity: 1;
   }
   90%{
      opacity: 0;
      background-image: url(../imagenes/bicho.png);
   }
   100% {
      /*background-position: center 100%;*/
     
      background-image: url(../imagenes/terreno.png);
   }
}

@keyframes animacionFallo {
   50% {
      background-color: red;
      transform: scale(1.1);
   }
}

@keyframes animacionMuerto {
   50% {
      background-image: url(../imagenes/muerto.png);
      transform: scale(1.1);
   }
   100% {
      /* si no repetimos la imagen, al 100% volvería a poner la del terreno */
      background-image: url(../imagenes/muerto.png);
   }
}

@keyframes animacionFin {
   0% {
      transform: scale(0) translate(-50%, -50%);
   }
   100% {
      transform: scale(1)  translate(-50%, -50%);
   }
}